<nav [ngClass]="status">
  <div class="logo-name">
    <div class="logo-image">
      <img src="./../../../assets/img/logo.png" alt="logo">
    </div>

    <span class="logo_name">
      Librería Mariela
    </span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a routerLink="/dashboard">
          <i class="uil uil-home"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/products">
          <i class="uil uil-store"></i>
          <span class="link-name" >Productos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-shopping-bag"></i>
          <span class="link-name">Proveedores</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-user"></i>
          <span class="link-name">Clientes</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-pricetag-alt"></i>
          <span class="link-name">Marcas</span>
        </a>
      </li>
    </ul>

    <ul class="logout-mode">
      <li>
        <a routerLink="/auth">
          <i class="uil uil-signout"></i>
          <span class="link-name">Logout</span>
        </a>
      </li>
      <li class="mode">
        <a href="#">
          <i [ngClass]="iconMode"></i>
          <span class="link-name">{{changeMode}}</span>
        </a>

        <div class="mode-toggle">
          <span class="switch" (click)="toggleTheme()"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>
