/* == Google Font import - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
    /* colors */
  --primary-color: #576CBC;
  --navlink-color: #576CBC;
  --panel-color: #FFF;
  --text-color: #202020;
  --dark-light-color: #202020;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --toggle-position: 5px;
  --title-icon-color: #FFF;
  --box1-color: #C0DBEA;
  --box2-color: #C7E9B0;
  --box3-color: #FDF7C3;

  /* transition */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

body{
  min-height: 100vh;
  background-color: var(--panel-color);
}

body.dark {
  --primary-color: #2c3032;
  --navlink-color: #DDD;
  --panel-color: #202020;
  --text-color: #FFF;
  --dark-light-color: #FFF;
  --border-color: #4D4C4C;
  --toggle-color: #FFF;
  --toggle-position: 20px;
  --title-icon-color: #FFF;
  --box1-color: #2c3032;
  --box2-color: #2c3032;
  --box3-color: #2c3032;
}

