/* == Google Font import - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
    /* colors */
  --primary-color: #009FA5;
  --panel-color: #FFF;
  --text-color: #000;
  --dark-light-color: #202020;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --toggle-position: 5px;

  /* transition */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

body{
  min-width: 100vh;
  background-color: var(--primary-color);
}

body.dark {
  --primary-color: #202020;
  --panel-color: #191a1a;
  --text-color: #DDD;
  --dark-light-color: #FFF;
  --border-color: #4D4C4C;
  --toggle-color: #FFF;
  --toggle-position: 20px;
}
