.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

app-sidebar.close ~ .dashboard{
  left: 78px;
  width: calc(100% - 78px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--panel-color);
  transition: var(--tran-05);
}

app-sidebar.close ~ .dashboard .top{
  left: 78px;
  width: calc(100% - 78px);
}

.dashboard .top .sidebar-toggle{
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .top .search-box{
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box input{
  position: absolute;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.top .search-box i{
  position: absolute;
  left: 15px;
  font-size: 20px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-light-color);
}

.top img{
  width: 40px;
  border-radius: 50%;
}

.dashboard .dash-content{
  padding-top: 50px;
}

.boxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.boxes .box{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: var(--box-color);
  border-radius: 12px;
}

.boxes .box i{
  font-size: 35px;
  color: var(--text-color);
}

.boxes .box .text{
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box .number{
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.activity-data{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 15px 20px;
}

.activity-data .data{
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  align-items: center;
}

.activity-data .data-title{
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.activity-data .data .data-list{
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}


@media (max-width: 1000px) {
  app-sidebar ~ .dashboard{
    left: 78px;
    width: calc(100% - 78px);
  }

  app-sidebar.close ~ .dashboard{
    left: 250px;
    width: calc(100% - 250px);
  }

  app-sidebar ~ .dashboard .top{
    left: 78px;
    width: calc(100% - 78px);
  }

  app-sidebar.close ~ .dashboard .top{
    left: 250px;
    width: calc(100% - 250px);
  }

  .activity-data{
    overflow-y: scroll;
  }

}


@media (max-width: 780px) {
  .boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 630px) {
  .boxes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}


@media (max-width: 500px) {
  app-sidebar ~ .dashboard{
    left: 78px;
    width: calc(100% - 78px);
  }

  app-sidebar.close ~ .dashboard{
    left: 78px;
    width: calc(100% - 78px);
  }

  app-sidebar ~ .dashboard .top{
    left: 78px;
    width: calc(100% - 78px);
  }

  app-sidebar.close ~ .dashboard .top{
    left: 78px;
    width: calc(100% - 78px);
  }

  .dashboard .top .sidebar-toggle{
    display: none;
  }

}
