.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  padding: 10px 14px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--panel-color);
}

.dashboard .top .sidebar-toggle{
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
